@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700&display=swap');
@import 'scss/components';

body {
    color: #333;
    font-family: 'Red Hat Display', sans-serif;

    background: #e7e7e7;
}

main {
    padding: 0 0 2rem 0;
}

h1 {
    margin: 2rem 0;

    small {
        margin-left: 1rem;
        font-size: 18px;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    .btn-outline-primary {
        float: right;
        margin-top: 1.5rem;

        &:focus {
            box-shadow: none;
        }
    }
}

.navbar {
    .navbar-brand {
        .logo {
            height: 50px;
            margin-top: 10px;
        }
    }

    .text-muted {
        text-decoration: none;
    }
}

.alert-ghost {
    margin: 2rem 0 0 0;
    border: 2px solid #333;
    background-color: #e8f7ff;
    display: inline-block;

    p {
        margin: 0;
    }

    .alert-heading {
        font-weight: 700;
    }
}
