// TABLE
.tableFixHead {
    overflow: auto;
    max-height: 500px; // To show sticky header
    border: 2px solid #333;
}

.table {
    margin-bottom: 0;

    & > :not(:first-child) {
        border-top: none;
    }

    th {
        text-align: left;
        position: sticky;
        top: 0;
        z-index: 1;
        background: #abddf9;
        border-bottom: 2px solid #333;
    }

    tr {
        td {
            font-weight: bold;
            vertical-align: middle;
            font-size: 0.8rem;
            background: #fff;

            &.center {
                text-align: center;
            }

            img {
                width: 30px;
                height: 30px;
            }

            button {
                font-weight: bold;
                text-decoration: none;
                font-size: 1rem;
                text-align: left;
                line-height: 1.1;

                &:focus {
                    box-shadow: none;
                }
            }
        }

        &:hover td {
            color: #d0433c;
            background: #f2f2f2;
        }

        &.selected td {
            background: #d0433c;
            color: #fff;

            button {
                color: #fff;
            }
        }
    }
}

// SIDEBAR
.offcanvas {
    width: 66.66%;

    @media (max-width: 991px) {
        width: 80%;
    }

    .offcanvas-header {
        h3 {
            margin-top: 0;
            line-height: 1;
            color: #0d6efd;
        }

        .address {
            font-size: 0.8rem;
            padding-bottom: 1rem;
        }

        .btn-close {
            position: absolute;
            right: 1rem;
            top: 1rem;
        }
    }

    .offcanvas-body {
        background: #e7e7e7;
    }
}

// SIDEBAR FORM
.userform {
    fieldset {
        display: flex;
        flex-wrap: wrap;

        .formfield {
            margin-bottom: 1rem;
            width: 48%;

            &:nth-child(odd) {
                margin-right: 3%;
            }

            label {
                margin-bottom: 0.25rem;
                font-weight: 700;
            }

            .form-control:disabled {
                background-color: transparent;
                opacity: 1;
                cursor: crosshair;
                padding: 0.25rem 0;
                border: none;
            }
        }
    }
}

// SIDEBAR TASKS
.accordion {
    .accordion-button {
        font-weight: 700;

        &:focus {
            box-shadow: none;
        }

        &:not(.collapsed) {
            background-color: #fff;
        }
    }

    ul li {
        text-transform: capitalize;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        padding-left: 0.5rem;
        position: relative;

        &:before {
            position: absolute;
            left: -0.5rem;
            content: '- ';
        }
    }
}
